<div class="background .bg-info">
    <div class="jumbotron jumbotron-fluid text-center">

        <h1 class="display-4">Employee project</h1>
        <p class="lead">Select employees, departments, or jobs</p>

    </div>
    <div class="container">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="1">
                <a ngbNavLink>Employees</a>
                <ng-template ngbNavContent>
                    <app-employees-list></app-employees-list>
                    <a class="btn btn-primary float-right" [routerLink]="['/addEmployee']" role="button">Add Employee</a>
                    <p><br><br></p>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink>Departments</a>
                <ng-template ngbNavContent>
                    <app-departments-list></app-departments-list>
                </ng-template>
            </li>
            <li [ngbNavItem]="3">
                <a ngbNavLink>Jobs</a>
                <ng-template ngbNavContent>
                    <app-jobs-list></app-jobs-list>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>

</div>
